.navbar-brand {
  font-size: 1.6rem;
  line-height: 1.042;
  height: 2.7rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  margin-right: 5rem;
}

.dropdown-container {
  min-width: 8%;
  min-height: 100%;
  display: inline-block;
  /* background-color: green; */
  color: white;
  position: relative;
  text-align: center;
}

.caret {
  display: inline-block;
  height: 0;
  margin-left: 0.2rem;
  vertical-align: middle;
  border-top: 0.6rem solid;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  -webkit-transition: border-color 0.25s, color 0.25s;
  transition: border-color 0.25s, color 0.25s;
}

.dropdown-list {
  width: 14rem;
  height: 14rem;
  position: absolute;
  color: black;
  list-style: none;
  /* background-color: #1bbc9b; */
  background-color: var(--navbar-color);
  color: white;
  top: 100%;
  /* left: 5%; */
  margin-top: 0.5rem;
  list-style: none;
  z-index: 999;
  border-radius: 4px;
  visibility: hidden;
  transition: visibility 50ms ease-in;
}

.dropdown-container-active , .dropdownMaze-container-active {
  background-color: #1bbc9b;
}

.dropdown-list-visible , .dropdownMaze-list-visible {
  visibility: visible;
}

.dropdown-container:hover {
  background-color: #1bbc9b;
}

.dropdown-title {
  font-size: 1.3rem;
  display: block;
  margin-top: 9%;
}

.dropdown-options {
  min-height: 22%;
  color: white;
  font: 1.2rem Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  margin-bottom: 2px;
}

.dropdown-options:first-child {
  margin-top: 0.5rem;
}

.dropdown-options:last-child {
  margin-bottom: 0.2rem;
}

.dropdown-options:hover {
  background-color: #1bbc9b;
}

.start {
  height: 75%;
  font-size: 1.3rem;
  padding: 0.4rem;
  background-color: #1bbc9b;
  color: white;
  white-space: nowrap;
  outline: none;
  border: none;
  min-width: 6%;
  transition: scale 20ms;
}
.start:hover {
  cursor: pointer;
}

.start:active {
  transform: scale(0.95);
}


.controls{
  color: white;
  font: 1rem Arial, Helvetica, sans-serif;
  margin-left: 10px;
  text-decoration: none;
}

.controls:hover{
  cursor: pointer;
  color: #1bbc9b;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
