.board {
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  border: var(--grid-border-size) solid var(--border-color);
  gap: 0px;
}

app-cell{
  border: var(--grid-border-size) solid var(--border-color) ;
  transition: border 1.5s ease-in;
}

.wall{
  border: var(--grid-border-size) solid #00425a;
  transition: none;
  animation-name: wall-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wall-animation {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }
  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}

.visited{
  border: var(--grid-border-size) solid white;
}
