/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #00adb5;
  --navbar-color: #00425a;
  --cell-color: #93c6e7;
  --columns: 0;
  --rows: 0;
  --grid-border-size: 1.3px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}
