
.cell {
  /*border: var(--grid-border-size) solid var(--border-color);*/
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 100ms;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hover{
  background-color: lightblue;
}


.visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 50ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path{
  background-color: rgb(255, 254, 106);
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.start , .end{
  width: 80%;
  height: 80%;
  display: flex;
  margin-top: 1px;
}

.start:hover , .end:hover {
  cursor: move;
}

.wall{
  background-color: #00425a;
  border: var(--grid-border-size) solid white;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes pathAnimation{
0% {
  transform: scale(.6);
  background-color: rgb(255, 254, 106);
}
50% {
  transform: scale(1.2);
  background-color: rgb(255, 254, 106);
}
100% {
  transform: scale(1.0);
  background-color: rgb(255, 254, 106);
}
  }

